@property --progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0%;
}

#container {
  display: flex;
}

[role="progressbar"] {
  --size: 132px;
  --bar-width: 20px;

  --color-dark: #303030;
  --color-dark-glare: #e2e2e2;
    

  
  font-size: 2rem;
  width: var(--size);
  aspect-ratio: 1 / 1;

  background: conic-gradient(
    var(--color-dark) var(--progress, 0),
    var(--color-dark-glare) 0%
  );
  margin: 2rem;
  border-radius: 50%;

  display: grid;
  place-items: center;

  transition: --progress 800ms;

}

[role="progressbar"]::after {
  content: attr(aria-valuenow);
  background: white;
  border-radius: inherit;
  width: calc(100% - var(--bar-width));
  aspect-ratio: 1 / 1;

  display: grid;
  place-items: center;
}

[role="progressbar"] span {
  display: none;
}